.button {
	position: relative;
	display: flex;
	align-items: center;
	padding: 17px 50px 17px 20px;
	border: none;
	background: $red-dark;
	cursor: pointer;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		right: 11px;
		z-index: 10;
		transform: translateY(-50%);
		width: 12px;
		height: 12px;
		background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYuMDAwMDggMTEuMzMzM0w1LjA2MDA4IDEwLjM5MzNMOC43ODAwOCA2LjY2NjY3TDAuNjY2NzQ4IDYuNjY2NjdMMC42NjY3NDggNS4zMzMzM0w4Ljc4MDA4IDUuMzMzMzNMNS4wNjAwOCAxLjYwNjY3TDYuMDAwMDggMC42NjY2NjZMMTEuMzMzNCA2TDYuMDAwMDggMTEuMzMzM1oiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=")
			no-repeat center / cover;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 100%;
		display: block;
		background: $red;
		clip-path: polygon(33% 0, 100% 0, 100% 100%, 0% 100%);
		transition: width 0.3s ease-out, clip-path 0.3s ease-out;
	}

	&:focus,
	&:hover {
		&::after {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
			width: 100%;
		}
	}

	&--link {
		width: fit-content;
		text-decoration: none;
	}

	@media (max-width: $lg) {
		&:focus,
		&:hover {
			&::after {
				clip-path: polygon(33% 0, 100% 0, 100% 100%, 0% 100%);
				width: 40px;
			}
		}
	}

	@media (max-width: $sm) {
		padding: 12px 50px 12px 20px;
	}

	&__text {
		position: relative;
		z-index: 10;
		color: #fff;
		font-size: 1.2rem;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.15px;

		@media (max-width: $sm) {
			font-size: 1rem;
		}
	}
}
