.customers-card {
	padding: 50px 40px 45px;
	background-color: #fff;

	&__text {
		line-height: 2.4rem;
		color: $font-gray;
	}

	&__user {
		display: flex;
		align-items: center;
		margin-top: 20px;
	}

	&__image {
		display: block;
		width: 48px;
		height: 48px;
		margin-right: 17px;
		border-radius: 50%;
	}

	&__username {
		color: $font-dark;
		font-weight: 700;
	}
}
