.icon-button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
	transition: transform 0.2s ease-out;

	&--bigger {
		width: 24px;
		height: 24px;
	}

	&:focus-visible,
	&:hover {
		outline: none;
		transform: scale(1.2);
	}

	&__icon {
		width: 100%;
		height: 100%;
	}

	@media (max-width: $lg) {
		width: 26px;
		height: 26px;

		&:focus-visible,
		&:hover {
			transform: none;
		}
	}
}
