.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
	width: 100vw;
	height: 100vh;
	padding: 0 20px;
	background-color: rgba(2, 19, 60, 0.8);

	&--visible {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__content {
		position: relative;
		background-color: $gray-light;
	}

	&__close {
		position: absolute;
		top: 0;
		right: -35px;

		.icon-button__icon {
			fill: #fff;
		}

		&:focus,
		&:hover {
			.icon-button__icon {
				fill: $red-dark;
			}
		}

		@media (max-width: $lg) {
			&:focus,
			&:hover {
				.icon-button__icon {
					fill: #fff;
				}
			}
		}

		@media (max-width: $sm) {
			top: -30px;
			right: 0;
		}
	}
}
