.section-heading {
	position: relative;
	padding-left: 30px;
	color: $font-gray;
	font-size: 1.2rem;
	letter-spacing: 2.5px;
	text-transform: uppercase;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		display: block;
		width: 20px;
		height: 20px;
		background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgiIGhlaWdodD0iMjciIHZpZXdCb3g9IjAgMCAyOCAyNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExLjI3MiA2LjYxNzY4TDkuNzEzNjIgOC4xNzI4MkwxNC43NzU3IDEzLjIzNTNMOS43MTM2MiAxOC4yOTc4TDExLjI3MiAxOS44NTNMMTcuOTAzNiAxMy4yMzUzTDExLjI3MiA2LjYxNzY4WiIgZmlsbD0iIzk1OTU5NSIvPgo8cGF0aCBkPSJNMTAuNTkwOCAxMC40MjI3TDkuNzI0OTggOS41NTg3OEw2LjA0MDc3IDEzLjIzNTJMOS43MjQ5OCAxNi45MTE3TDEwLjU5MDggMTYuMDQ3N0w3Ljc3ODQ5IDEzLjIzNTJMMTAuNTkwOCAxMC40MjI3WiIgZmlsbD0iI0M0MEIwQiIvPgo8L3N2Zz4K")
			no-repeat center / 120% 120%;
	}

	&--light {
		color: #fff;

		&::before {
			background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgiIGhlaWdodD0iMjciIHZpZXdCb3g9IjAgMCAyOCAyNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExLjI3MiA2LjYxNzY4TDkuNzEzNjIgOC4xNzI4MkwxNC43NzU3IDEzLjIzNTNMOS43MTM2MiAxOC4yOTc4TDExLjI3MiAxOS44NTNMMTcuOTAzNiAxMy4yMzUzTDExLjI3MiA2LjYxNzY4WiIgZmlsbD0iI0Q1RDVENSIvPgo8cGF0aCBkPSJNMTAuNTkwOCAxMC40MjI2TDkuNzI0OTggOS41NTg1OUw2LjA0MDc3IDEzLjIzNTFMOS43MjQ5OCAxNi45MTE1TDEwLjU5MDggMTYuMDQ3Nkw3Ljc3ODQ5IDEzLjIzNTFMMTAuNTkwOCAxMC40MjI2WiIgZmlsbD0iI0M0MEIwQiIvPgo8L3N2Zz4K")
				no-repeat center / 120% 120%;
		}
	}
}
