.impact {
	padding-top: 110px;
	background: $font-dark url("/images/bg-impact.webp") no-repeat center / 100%;
	
	@media (max-width: $lg) {
		background-size: cover;
	}
	
	@media (max-width: $sm) {
		padding-top: 60px;
	}

	&__wrapper {
		position: relative;
		padding-bottom: 210px;

		@media (max-width: $sm) {
			padding-bottom: 160px;
		}
	}

	&__image {
		position: absolute;
		top: -37%;
		right: 0;
		display: block;
		max-width: 500px;

		@media (max-width: $lg) {
			display: none;
		}
	}

	&__subheading {
		max-width: 410px;
		margin-top: 30px;
		color: #fff;

		@media (max-width: $lg) {
			max-width: none;
		}

		@media (max-width: $sm) {
			margin-top: 20px;
		}
	}

	&__stats {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 25px;
		margin-top: 80px;
		
		@media (max-width: $lg) {
			grid-template-columns: repeat(2, 1fr);
			row-gap: 35px;
			padding: 0 30px;
		}
		
		@media (max-width: $sm) {
			grid-template-columns: 1fr;
			row-gap: 50px;
			margin-top: 40px;
		}
	}

	&__appointment {
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 10;
		transform: translateY(50%);
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 45px 70px;
		background-color: #fff;

		@media (max-width: $lg) {
			flex-direction: column;
			padding: 20px 30px;
		}

		@media (max-width: $sm) {
			padding: 20px;
		}
	}

	&__appointment-text {
		max-width: 560px;
		color: $font-dark;
		font-size: 2.4rem;
		font-weight: 900;
		line-height: 3rem;

		@media (max-width: $lg) {
			max-width: none;
			margin-bottom: 30px;
			text-align: center;
		}

		@media (max-width: $sm) {
			margin-bottom: 20px;
			font-size: 1.6rem;
			font-weight: 700;
			line-height: 1.8rem;
		}
	}

	&-item {
		display: flex;

		@media (max-width: $sm) {
			width: 250px;
			justify-self: start;

			&:nth-child(2n) {
				justify-self: end;
			}
		}

		&__image {
			margin-right: 12px;
		}

		&__icon {
			width: 76px;
			height: 76px;
		}

		&__value {
			color: $red-dark;
			font-size: 3.6rem;
			font-weight: 900;
		}

		&__description {
			margin-top: 5px;
			color: $gray-light;
			line-height: 2.4rem;
		}
	}
}
