.promise {
	padding: 75px 0 120px;

	@media (max-width: $lg) {
		padding: 55px 0 100px;
	}

	@media (max-width: $md) {
		padding: 35px 0 60px;
	}

	&__subheading {
		margin-top: 30px;

		@media (max-width: $sm) {
			margin-top: 20px;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 25px;
		margin-top: 70px;

		@media (max-width: $lg) {
			display: block;
			padding: 0 20px;
		}

		@media (max-width: $md) {
			margin-top: 30px;
		}
	}

	&-card {
		display: flex;

		@media (max-width: $lg) {
			margin-bottom: 35px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&:last-child {
			margin-right: 0;
		}

		&__image {
			margin-right: 25px;
		}

		&__icon {
			width: 63px;
			height: 63px;

			@media (max-width: $md) {
				width: 45px;
				height: 45px;
			}
		}

		&__title {
			color: $font-dark;
			font-size: 1.9rem;
			font-weight: 900;
			line-height: 2.6rem;

			@media (max-width: $md) {
				font-size: 1.6rem;
				font-weight: 700;
			}
		}

		&__text {
			margin-top: 20px;
			color: $font-gray;
			line-height: 2.4rem;

			@media (max-width: $md) {
				margin-top: 10px;
				font-size: 1.4rem;
				line-height: 2rem;
			}
		}
	}
}
