.services {
	padding: 110px 0 120px;
	background: url("/images/bg-gears-reversed-top.webp") no-repeat 0% 0% / 45%,
		url("/images/bg-gears-bottom.webp") no-repeat 100% 100% / 45%;

	@media (max-width: $lg) {
		background-size: 60%;
	}

	@media (max-width: $md) {
		padding: 60px 0;
		background-size: 80%;
	}

	&__subheading {
		margin-top: 30px;

		@media (max-width: $sm) {
			margin-top: 20px;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 23px;
		margin-top: 80px;

		@media (max-width: $lg) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: $md) {
			grid-template-columns: 1fr;
		}

		@media (max-width: $sm) {
			margin-top: 50px;
		}
	}

	&__button {
		margin: 65px auto 0;

		@media (max-width: $sm) {
			margin: 35px auto 0;
		}
	}

	&-card {
		padding: 50px 45px;
		background-color: #fff;
		text-align: center;
		transition: filter 0.3s ease-out;

		&:hover {
			filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24))
				drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
		}

		@media (max-width: $lg) {
			padding: 35px 20px;
		}

		@media (max-width: $md) {
			&:hover {
				filter: none;
			}
		}

		&__icon {
			width: 63px;
			height: 63px;

			@media (max-width: $sm) {
				width: 45px;
				height: 45px;
			}
		}

		&__title {
			margin-top: 35px;
			color: $font-dark;
			font-size: 1.9rem;
			font-weight: 900;

			@media (max-width: $sm) {
				margin-top: 25px;
				font-weight: 700;
			}
		}

		&__text {
			margin-top: 20px;
			color: $font-gray;
			line-height: 2.4rem;
		}
	}
}
