.video {
	background: $font-dark url("/images/bg-video.webp") no-repeat 0% 0% / cover;

	@media (max-width: $sm) {
		background-position: 20% 0%;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 410px;
		min-height: 60vh;
		margin-left: auto;

		@media (max-width: $lg) {
			max-width: none;
			margin: 0;
			text-align: center;
		}
	}

	&__heading {
		color: #fff;
		font-size: 3.6rem;
		font-weight: 900;
		line-height: 4.2rem;

		@media (max-width: $sm) {
			font-size: 2.8rem;
			font-weight: 700;
			line-height: 3.8rem;
		}
	}

	&__play-button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 85px;
		height: 85px;
		margin-top: 30px;
		margin-left: 26px;
		padding: 0;
		border: none;
		border-radius: 50%;
		background-color: #fff;
		box-shadow: 0 0 0 13px rgba(255, 255, 255, 0.2),
			0 0 0 26px rgba(255, 255, 255, 0.12);
		transition: box-shadow 0.3s ease-out;
		cursor: pointer;

		&:focus-visible,
		&:hover {
			outline: none;
			box-shadow: 0 0 0 13px rgba(255, 255, 255, 0.7),
				0 0 0 26px rgba(255, 255, 255, 0.45);

			.video__play-icon {
				transform: scale(1.25);
			}
		}

		@media (max-width: $lg) {
			margin: 30px auto 0;

			&:focus-visible,
			&:hover {
				box-shadow: 0 0 0 13px rgba(255, 255, 255, 0.2),
					0 0 0 26px rgba(255, 255, 255, 0.12);

				.video__play-icon {
					transform: none;
				}
			}
		}

		@media (max-width: $sm) {
			width: 65px;
			height: 65px;
		}
	}

	&__play-icon {
		width: 22px;
		height: 28px;
		margin-left: 5px;
		transition: transform 0.3s ease-out;

		@media (max-width: $sm) {
			width: 18px;
			height: 24px;
		}
	}

	&__modal {
		.modal__content {
			width: 90%;
			height: 90%;

			@media (max-width: $lg) {
				width: 85%;
				height: 70%;
			}

			@media (max-width: $sm) {
				width: 90%;
				height: 30%;
			}
		}
	}

	&__frame {
		display: block;
		width: 100%;
		height: 100%;
		border: none;
	}
}
