*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $gray-light;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

a:focus,
button:focus {
    outline: none;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 20px;
}

.scroll-prevent {
    overflow-y: hidden;
}
